<div [class]="'list-item-container ' + layout + '-item-layout'">
  <div class="item-img-container"><img [src]="item.thumbnailUrl" [alt]="item.title"></div>
  <div class="item-title">{{item.title}}</div>
  <ng-container *ngIf="template === 'albums'">
        <div class="item-created-by">kreirao: {{item.userName}}</div>
  </ng-container>
  <ng-container *ngIf="template === 'photos'">
    <button color="accent" mat-icon-button class="delete-item-button">
      <mat-icon color="accent">delete</mat-icon>
    </button>
  </ng-container>
</div>
