.list-item-container {
  width: 100%;
}

.grid-item-layout {}

.item-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  background: #f9f9f9;

  &>img {
    object-fit: none;
    object-position: 50% 50%;
    height: 100%;
  }
}

.item-title {
  font-size: 32px;
  line-height: 39px;
  color: black;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    color: #FFC23B;
  }
}

.item-created-by {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 601px) {
  .list-item-layout {
    .item-img-container {
      width: 350px;
      height: 200px;
      float: left;
      margin-right: 26px;
    }

    .item-title {
      margin-top: 13px;
    }
  }
}
