<div class="login-form-container">
  <form class="login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
    <h1>Uloguješ se</h1>
    <mat-form-field class="login-full-width" floatLabel="auto" appearance="standard">
      <input matInput formControlName="fullName" placeholder="korisničko ime" required />
      <mat-error *ngIf="profileForm.controls.fullName.hasError('required')">
        <strong>obavezno polje</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-full-width" floatLabel="auto" appearance="standard">
      <input matInput formControlName="email" placeholder="email" required />
      <mat-error
        *ngIf="profileForm.controls.email.hasError('email') && !profileForm.controls.email.hasError('required')"
      >
        unesite validnu email adresu
      </mat-error>
      <mat-error *ngIf="profileForm.controls.email.hasError('required')">
        <strong>obavezno polje</strong>
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" class="login-form-button">klikni</button>
  </form>
</div>
