/* For use in src/lib/core/theming/_palette.scss */
$mat-orange-custom: (
  50: #fff8e7,
  100: #ffedc4,
  200: #ffe19d,
  300: #ffd476,
  400: #ffcb58,
  500: #ffc23b,
  600: #ffbc35,
  700: #ffb42d,
  800: #ffac26,
  900: #ff9f19,
  A100: #ffffff,
  A200: #fffefd,
  A400: #ffe7ca,
  A700: #ffdcb1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-grey-custom: (
  50: #f5f5f5,
  100: #e5e5e5,
  200: #d4d4d4,
  300: #c2c2c2,
  400: #b5b5b5,
  500: #a8a8a8,
  600: #a0a0a0,
  700: #979797,
  800: #8d8d8d,
  900: #7d7d7d,
  A100: #ffffff,
  A200: #fbd9d9,
  A400: #ffa1a1,
  A700: #ff8888,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
